################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FA24_SE1717_PRN231_G3_KOIORDERINGSYSTEM/.vs/FA24_SE1717_PRN231_G3_KOIORDERINGSYSTEM/v17/.suo
